/* Universal */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.5px;
  list-style-type: none;
  text-decoration: none;
}

img{
  height: auto;
  width: 100%;
}