@import url('https://fonts.googleapis.com/css?family=Lato');

/* Universal */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 2em;
  letter-spacing: 0.5px;
  list-style-type: none;
  text-decoration: none;
}

body, html{
  height: 100%;           
}
 
body{
  position: relative;             
}
 
section{
  z-index: 1;
  position: relative;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 600;
}