/* Universal */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  list-style-type: none;
  text-decoration: none;

  &::selection {
    background: #E3C4A0;
    color: white;
  }
}

img{
  height: auto;
  width: 100%;
}

section{

  @media (max-width: 768px){
    padding-top: 30%;
  }

  padding-top: 10%;
}

.btn{
  font-weight: 600;
  line-height: 1;
}

.btn-round{
  border-width: 1px;
  border-radius: 30px !important;
  padding: 9px 18px;
}