%separator-border1{
    display: block;
    width: 40%;
    content: " ";
    margin-top: 20px;
    border: 1px solid #c5a47e;
}

%separator-border2{
    display: block;
    width: 40%;
    content: " ";
    margin-top: 18px;
    border: 1px solid #fff;
}