@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);

$color-theme: (
  primary: #3498DB,
  secondary:#F9F9F9,
  third:#ffffff,
  fourth:#75B9E7,
  fifth: #6EA43F,
  sixth: #b2f376
) !default;


//Breakpoint map
$breakpoints: (
  'xsmall': (max-width: 375px ), //added breakpoint variable
  'large': (min-width: 376px ),
) !default;