
#blog{
  padding-top: 5%;
  padding-bottom: 5%;
  color: #75B9E7;

  .artikel{
    margin-bottom: 30px;
  }

  .artik p{
    font-size: 15px;
    padding: 0.5em;
    color: black;

    .date{
        color: #6EA43F;
      }
  }
  
  .borderu{
    border-bottom: 1px solid #EEE;
  }
}