/* Footer */

footer{
    background-color: map-get($color-theme, primary);
    color: white;
    overflow-x: hidden;

       
    #footertop {
        border-right: 67vw solid map-get($color-theme, third);
        border-left: 33vw solid map-get($color-theme, third);
        border-bottom: 47px solid transparent;
      }
    .footercontent{
        margin-bottom: 3em;

        .logo{
            max-width: 60px;
            height: auto;
            margin-bottom: 1em;
        }
        .border{
            border-left: 1px solid map-get($color-theme, secondary);

            .specific{
                margin-bottom: 3.3em;
            }
        }
      }
    }