footer{
    background-color: map-get($light, secondary);
    color: map-get($light , primary);
    overflow-x: hidden;
    
    #footertop {
        border-right: 67vw solid map-get($light, primary);
        border-left: 33vw solid map-get($light, primary);
        border-bottom: 47px solid transparent;
      }
      
      .footercontent{
        margin-bottom: 3em;

        .logo{
            max-width: 60px;
            height: auto;
            margin-bottom: 1em;
        }
        .border-footer{
            border-left: 1px solid map-get($light , primary);

            .specific{
                margin-bottom: 3.3em;
            }
        }
    }
}