main{
    grid-area: main;
    padding-top: 5%;
    @include respond-to("xsmall"){
    border-bottom: 25px solid red;
    border-right: 25px solid red;
    border-left: 25px solid red;


    .jumbo{
        text-align: center;
        padding-bottom: 10%;

        .button{
            background: #ED3100;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 15px 60px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    }
    

}
}