main{
    grid-area: main;
    @include respond-to("xsmall"){
    padding-top: 5%;
    border-bottom: 25px solid red;
    border-right: 25px solid red;
    border-left: 25px solid red;


    .jumbo{
        text-align: center;
        padding-bottom: 10%;

        .button{
            background: #ED3100;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 15px 60px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    }

    .jumbo2{
        text-align: center;
        padding-top: 15%;

        .margin{
            margin-bottom: 1.3em;
        }

        .button2{
            border: none;
            color: white;
            padding: 15px;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            width: 85%;
        }
    
        .border{
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }

    #spec1{
        background: #ED3100;
    }

    #spec2{
        background: #3B5998;
    }

    .sökruta{
        margin-top: 1.5em;

    .söken{
        padding: 0.2em;
    }

    #sök{
        color: white;
        border: 1px solid #ED3100;
        background: #ED3100;
    }
    }

    .jumbo3{
        text-align: center;

        .pizzahut{
            max-width: 60px;
        }
    }
}
}