main{
    grid-area: main;
    padding-top: 5%;
    @include respond-to("xsmall"){
    border-bottom: 25px solid red;
    border-right: 25px solid red;
    border-left: 25px solid red;


    .jumbo{
        text-align: center;
        padding-bottom: 10%;

        .button{
            background: #ED3100;
            border: none;
            border-radius: 20px;
            color: white;
            padding: 15px 60px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    }

    .jumbo2{
        text-align: center;
        padding-top: 15%;
        padding-bottom: 10%;
    
        .margin{
            margin-bottom: 1.3em;
        }
    
        .button2{
            border: none;
            color: white;
            padding: 15px;
            display: inline-block;
            margin: 4px 2px;
            cursor: pointer;
            width: 85%;
    
    
            &:nth-child(odd) {
                background-color: #3B5998;
              }
                &:nth-last-child(1) {
                  background-color: #ED3100;
                }
        }
    
        .border{
            margin-top: 1em;
            margin-bottom: 1em;
        }
    }
}

}