.navbar-inverse{
    background-color: map-get($color-theme, primary);
    border: none;
    margin-bottom: 0;

    .navbar-toggle{
      border-color: map-get($color-theme, third);
      cursor: pointer;

      .icon-bar{
        background-color: map-get($color-theme, third);
        border-color: map-get($color-theme, third);
      }
    }

    .navbar-brand{
      color: map-get($color-theme, third);
    }

    .navbar-nav > li > a{
      color: map-get($color-theme, third);

      &:hover{
        background-color: none;
        color: map-get($color-theme, sixth);
      }
    }
   }
   
   