#skills{
  padding-top: 2%;
  background-color: map-get($color-theme, fourth);
  color: white;

  .button {
      @extend %buttonstandard;

    &:hover{
        color: map-get($color-theme, third);

        &:before,
        &:after {
            width: 100%;
        }
    }

    &:active:hover{
        color: map-get($color-theme, third);

        &:before,
        &:after {
            width: 100%;
        }
    }

    &:before{
        content: "";
        position: absolute;
        top: -7px;
        left: 0;
        background-color:map-get($color-theme, third);
        width: 30%;
        height: 4px;
        transition:all 0.3s ease 0s;
    }

    &:after{
        content: "";
        position: absolute;
        bottom: -7px;
        right: 0;
        background-color:map-get($color-theme, third);
        width: 30%;
        height: 4px;
        transition:all 0.3s ease 0s;
    }
  }

  .button1{
    @extend %buttonstandard;
  }
  

  .line1 {
    width: 1px;
    height: 100%;
    min-height: 23rem;
    background-color: map-get($color-theme, secondary);
    margin: 0 calc(7% - .5px);
    margin: 0 auto;
  }
  
  .line2 {
    width: 1px;
    height: 100%;
    min-height: 23rem;
    background-color: map-get($color-theme, secondary);
    margin: 1.5em auto;
  }  
}
