#home{
    background: map-get($color-theme, secondary);
    padding-top: 5%;

    .presentation{
      margin-bottom: 3em;
    }

    h2{
      color: map-get($color-theme, primary);
      font-size: 30px;
    }

    .textsub{
      font-size: 18px;
    }
   }
   