#home{
    background: #F9F9F9;
    padding-top: 5%;

    .presentation{
      margin-bottom: 3em;
    }

    h2{
      color: #3498DB;
      font-size: 30px;
    }

    .textsub{
      font-size: 18px;
    }
   }
   