#about{
    h2{
        text-transform: uppercase;
    }

    .separator-container {
        text-align: center;
        position: relative;

        .separator {
            color: map-get($light, secondary);
            @extend %seperator2;

            &.line-separator{
                &::before{
                    @extend %separator-border1;
                    float: left;
                }
                &::after{
                    @extend %separator-border1;
                    float: right;
                }
            }
        }
    }

    p{
        @extend %paragraf-standard;
    }

    img{
        margin-bottom: 1em;
    }
}

