#first {
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050');
  }