#first {
    padding-top: 5%;
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('https://images.unsplash.com/photo-1521953793652-39ff7b30d400?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=187282855273f92db1d0f65835ba8f60&auto=format&fit=crop&w=1050&q=80');

    
    .separator-container {
      text-align: center;
      position: relative;

      .separator {
          color: map-get($light, primary);
          @extend %seperator;

          &.line-separator{
              &::before{
                  @extend %separator-border2;
                  float: left;
              }
              &::after{
                  @extend %separator-border2;
                  float: right;
              }
          }
      }
  }

    .intro{
      background: transparent;
      color: white;

      h1{
        text-transform: uppercase;
        font-size: 7em;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
        text-shadow: -2px 2px 30px rgba(0, 0, 0, 0.25), -2px 4px 14px rgba(0, 0, 0, 0.1);

      @media (max-width: 768px){
          font-size: 3.5em;
          letter-spacing: 0.07em;
          line-height: 1.7;
          margin-top: 60px;
    }
}

    h5{
      @media (max-width: 768px){
        font-size: 1.125em;
        margin-top: 50px;
    }

    font-size: 1.3em;
    font-weight: bolder;
}

      a.scroll-arrow {
        font-size: 35px;
        color: white;
        width: 50px;
        line-height: 52px;
        border-radius: 50%;
        height: 50px;
        border: 1px solid white;
        display: block;
        position: absolute;
        bottom: 20px;
        left: 48%;
        z-index: 1029;
        opacity: .9;
    }
    }
  }
  