#about{
    h2{
        text-transform: uppercase;
    }

    .separator-container {
        text-align: center;
        position: relative;

        .separator {
            color: map-get($light, secondary);
            margin: 0 auto 1em;
            width: 11em;

            &.line-separator{
                &::before{
                    @extend %separator-border1;
                    float: left;
                }
                &::after{
                    @extend %separator-border1;
                    float: right;
                }
            }
        }
    }

    p{
        line-height: 2em;
        color: #777777;
        font-size: 1.3em;
    }
}

