#services{
    h2{
        text-transform: uppercase;
    }

    .separator-container {
        text-align: center;
        position: relative;

        .separator {
            color: map-get($light, secondary);
            @extend %seperator2;

            &.line-separator{
                &::before{
                    @extend %separator-border1;
                    float: left;
                }
                &::after{
                    @extend %separator-border1;
                    float: right;
                }
            }
        }
    }

    p{
        @extend %paragraf-standard;
        margin-bottom: 2em;
    }

    .paragraf-mindre{
        font-size: 1em;
    }

    img{
        margin-bottom: 2em;
    }

    .btn-fill{
        color: #FFFFFF;
        background-color: #888888;
        opacity: 1;
        margin-bottom: 2em;

        &:visited{
            background-color: #6d6a6a;
        }

        &:hover{
            background-color: #757575;
        }
    }
}