#first {
    padding-top: 5%;
    height:100vh;
    min-height:400px;
    background-size:cover;
    background-image:url('https://ununsplash.imgix.net/photo-1427434846691-47fc561d1179?fit=crop&fm=jpg&h=700&q=75&w=1050');

    
    .separator-container {
      text-align: center;
      position: relative;

      .separator {
          color: map-get($light, primary);
          margin: 0 auto 2em;
          width: 20em;

          &.line-separator{
              &::before{
                  @extend %separator-border2;
                  float: left;
              }
              &::after{
                  @extend %separator-border2;
                  float: right;
              }
          }
      }
  }

    .intro{
      background: transparent;
      color: white;

      h1{
        text-transform: uppercase;
        font-size: 7vw;
        letter-spacing: 0.1em;
        margin-bottom: 20px;
      }

      h5{
        font-size: 1.3em;
      }

      a.scroll-arrow {
        font-size: 35px;
        color: white;
        width: 50px;
        line-height: 52px;
        border-radius: 50%;
        height: 50px;
        border: 1px solid white;
        display: block;
        position: absolute;
        bottom: 20px;
        left: 48%;
        z-index: 1029;
        opacity: .9;
    }
    }
  }
  