#about{
  padding-top: 5%;
  background: #ffffff;

 .heading{
    color: #6EA43F;
    margin-bottom: 5px;
    }

  .new{
    margin-bottom: 4em;

    h1{
        color: #3498DB;
    }

    .löft{
        font-size: 25px;
    }      
  }

  .secondary{
    margin-bottom: 3em;
  }

  .other{
    margin-bottom: 40px;
  }

  .border{
    border-top: 1px solid #EEE;

    .span4{
      padding: 1em;
    }

    .acc.collapsed .fa-chevron-down,
    .acc .fa-chevron-right {
      display: none;
    }
    
    .acc.collapsed .fa-chevron-right,
    .acc .fa-chevron-down {
      display: inline-block;
      color: #6EA43F;
      cursor: pointer;
    }    
  }

  .icons{
    margin-bottom: 1.2em;
  }
}

